<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Caradise Autos</a>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link" href="./about" >About Us</a>
            <a class="nav-item nav-link" href="./contact" >Contact</a>

          </div>
        </div>
      </nav>

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Caradise Autos</h1>
        <p class="lead">At Caradise Autos, we make your car dreams come true!</p>
        <hr class="my-4">
        <p>We are dedicated to providing top-quality vehicles and exceptional service.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
        </p>
    </div>

</body>

</html>